
<body>

	<!-- Start Header/Navigation -->
	 <nav class="custom-navbar navbar navbar navbar-expand-md " arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="/home"> <img src="/static/userAssets/img/logo.png" alt="logo"></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active">
						<a class="nav-link" href="/home">Home</a>
					</li>
					<li><a class="nav-link" href="/products">Shop</a></li>
					<li><a class="nav-link" href="/about">About us</a></li>
					<% if (!user) { %>
						<li><a class="nav-link" href="/login">login</a></li>
						<% } else { %>
						<li><a class="nav-link" href="/logout">logout</a></li>
						<% } %>
					<li><a class="nav-link" href="#">Blog</a></li>
					<li><a class="nav-link" href="contact.html">Contact us</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="/userProfile"><i class="fa-solid fa-user fa-lg" style="color: #000000;"></i></i></a></li>
					<li>
						<a class="nav-link" href="/cart">
							<i class="fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i>
							<span class="badge rounded-pill badge-notification bg-danger" id="cart-count"><%=count%></span>
						</a>
					</li>
					
					<li><a class="nav-link" href="/wishlist"><i class="fa-regular fa-heart fa-xl" style="color: #000000;"></i></a></li>
				</ul>
			</div>
		</div>		
	</nav>